input {
  margin: auto;
  width: 50%;
  height: 20%;
  padding: 12px 30px;
}

form {
  align-items: center;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
}

body {
  background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/17/22/istock-157642939.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.eventForm {
  text-align: center;
}

Link {
  justify-content: center;
  align-items: center;
}

.eventName {
  width: 705px;
  height: 59px;
  border-radius: 10px;
  border: 1px solid #818181;
  background-color: #d8e9f1;
}

.className {
  width: 705px;
  height: 59px;
  border-radius: 10px;
  border: 1px solid #818181;
  background-color: #d8e9f1;
}

.description {
  width: 705px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #959da0;
  background-color: #d8e9f1;
  text-align: center;
  resize: none;
}

.tag {
  width: 586px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #818181;
  background-color: #d8e9f1;
}

.Public {
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  background-color: #e6e6e6;
}

.Private {
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  background-color: #e6e6e6;
}

.submit {
  width: 206px;
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #00c6d7;
  border-radius: 10px;
}

#main {
  margin-left: 8.6%;
}

.tags {
  width: 112px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid #979a9c;
  background-color: #00c6d7;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 8.6%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #00c6d7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
