h1 {
  width: 164px;
  height: 41px;
  color: #FFFFFF;
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 600;
}

h3 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 20px;
  top: 50%;
  left: 50%;
  font-weight: 400;
  transform: translate(0%, -250%);
}

.eventButton {
  position: relative;
  width: 700px;
  height: 300px;
  border-radius: 28px;
  border: 3px solid #b6b1a9;
  background-color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchBar {
  display: block;
  text-align: center;
}

.tagBubbles {
  display: block;
  text-align: center;
}
