h1 {
  width: 164px;
  height: 41px;
  color: #FFFFFF;
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 600;
}

h3 {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 20px;
  top: 50%;
  left: 50%;
  font-weight: 400;
  transform: translate(0%, -250%);
}

.eventsfeed-header {
    margin: 0 auto;
}

.eventsfeed-header h2 {
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.eventsfeed-create {
    margin: 0 auto;
    text-align: center;
}

.create-event-btn {
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 40px;
    padding: 0;
}

.create-event-btn button {
    height: 40px;
    transition: 0.05s;
}

.create-event-btn button:hover {
    filter: brightness(105%);
}

.eventButton {
  position: relative;
  width: 700px;
  height: 300px;
  border-radius: 28px;
  border: 3px solid #b6b1a9;
  background-color: #ffffff;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.privateEventButton {
  position: relative;
  width: 700px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 28px;
  border: 3px solid #b6b1a9;
  background-color: #b6b1a9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchBar {
  display: block;
  text-align: center;
}

.tagBubbles {
  display: block;
  text-align: center;
}
