.eventButton {
    background-color: #ffffff;
    height: 250px;
    max-width: 720px;
    border-radius: 25px;
    border: 1px solid #cacaca;
    
    margin: 10px;
    
    text-decoration: none;
    color: #000000;
    
    transition: 0.1s;
}

.eventButton:hover {
    background-color: #e5f9ff;
}

.private-eventbutton {
    background-color: #ffcbcb;
}

.private-eventbutton:hover {
    background-color: #ffe5e5;
}

.eventButton .eventpic {
    background-color: #cacaca;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    /*width: 16vw;*/
    width:45%;
    /*width: 300px;*/
    height: 100%;
    overflow: hidden;
}

.eventButton .eventpic img {
    width: 100%;
    height: auto;
}

.eventButton .event-body-container {
    position: absolute;
    top: 10px;
    left: 45%;
    /*left: 325px;*/
    margin: 0px 10px;
    
    width: 40%;
    height: 100%;
}

.eventButton .eventname {
    font-size: 20px;
    font-weight: bold;
}

.eventButton .alt {
    font-size: 10px;
}

.eventButton .desc {
    margin-top: 10px;
    height: calc(100% - 150px);
    overflow: hidden;
}

.eventButton .datetime {
    position: absolute;
    left: 0;
    bottom: 25px;
}

.searchBox input {
    width: 400px;
    margin: 0px 10px;
}

.create-event-btn {
    position: absolute;
    top: 8%;
    left: 85%;
}

/*.create-event-btn button {
    width: 150px;
    height: 60px;
}*/
