.login-page {
    position: fixed;
    left: 25%;
}

.login-logo {
    margin: 0;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 0;
}
.login-logo img {
    width: 10vw;
}

/* Style for login screen message */
.login-msg {
	color: #000000;
	font-family: "Segoe UI";
	font-size: 20px;
	font-weight: 600;
}

/* Style for Sign in button */
.login-button{
    margin-top: 10px;
}
