img {
    position: relative;
    background-position:center;
    z-index:-1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.img1 {
    background-position:center;
    position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: auto;
}

p {
	/* Style for "Sign in wi" */
	position: absolute;
	top: 50%;
	left: 50%;
	color: #000000;
	transform: translate(-50%, -50%);
	font-family: "Segoe UI";
	font-size: 25px;
	font-weight: 600;
}

.google {
	/* Style for "Sign in wi" */
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
